<header>
  <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']">ExternalAuth.Web</a>
      <button class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target=".navbar-collapse"
              aria-label="Toggle navigation"
              [attr.aria-expanded]="isExpanded"
              (click)="toggle()">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse"
           [ngClass]="{ show: isExpanded }">
        <ul class="navbar-nav flex-grow">
          <li class="nav-item" [routerLinkActive]="['link-active']" [routerLinkActiveOptions]="{ exact: true }">
            <a class="nav-link text-dark" (click)="onItemSelected()" [routerLink]="['/']">Home</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" (click)="onItemSelected()" [routerLink]="['/counter']">Counter</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" (click)="onItemSelected()" [routerLink]="['/fetch-data']">Fetch data</a>
          </li>
          <li class="nav-item dropdown" [ngClass]="{'show':level1SubMenu === 'account'}">
            <a class="nav-link dropdown-toggle" [routerLinkActive]="['link-active']" href="" (click)="toggleLevel1Menu('account')">
              Account
            </a>
            <div class="dropdown-menu" [ngClass]="{'show':level1SubMenu === 'account'}">
              <label class="dropdown-item" *ngIf="currentUser !== null">{{ currentUser.userName }}</label>
              <div class="dropdown-divider" *ngIf="currentUser !== null"></div>
              <a class="dropdown-item" *ngIf="currentUser === null" (click)="onItemSelected()" [routerLink]="['/account','login']" [routerLinkActive]="['link-active']" [routerLinkActiveOptions]="{ exact: true }">Login</a>
              <a class="dropdown-item" *ngIf="currentUser === null" (click)="onItemSelected()" [routerLink]="['/account','register']" [routerLinkActive]="['link-active']" [routerLinkActiveOptions]="{ exact: true }">Register</a>
              <a class="dropdown-item" *ngIf="currentUser !== null" (click)="onItemSelected()" [routerLink]="['/account','profile']" [routerLinkActive]="['link-active']" [routerLinkActiveOptions]="{ exact: true }">Profile</a>
              <a class="dropdown-item" *ngIf="currentUser !== null" (click)="onLogout()" href="">Logout</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
